.dghInstruction {
    // position: absolute;
    // left: 50%;
    // top: 57%;
    // transform: translate(-50%, -50%);
    // text-align: center;
    // width: 650px;

    .icon_Description {
        background: rgba(255, 187, 0, 0.12);
        border-radius: 16px;
        padding: 16px;
        display: flex;
        // width: 81%;
        text-align: center;
        margin: 0px 55px 16px 55px;
    }

    .DGH {
        color: black;
        font-size: 24px;
        font-weight: 800;
        text-transform: capitalize;
        word-wrap: break-word;
        margin-bottom: 24px;
        text-align: center;
    }

    .nextStep {
        color: #444444;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
    }

    .medicalCheckUp {
        color: #444444;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        // margin-left: 12px;
        text-align: center;
    }

    .Steps {
        color: #444444;
        font-size: 16px;
        font-weight: 800;
        word-wrap: break-word;
        text-align: left;
    }

    .stepText {
        background-color: #FAFAFA;
        padding: 8px;
        color: #444444;
        font-size: 12px;
        font-weight: 600;
        margin-top: 16px;
        border-radius: 16px;
        display: flex;
    }

    .number {
        padding: 8px;
        color: #444444;
        font-size: 12px;
        font-weight: 700;
        margin-right: 4px;
    }

    .marginT16 {
        margin-top: 16px;
    }

    .button {
        border-radius: 10px;
        height: 48px;
        background-color: #fb0;
        border: none;
        font-size: 12px;
        font-weight: 800;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: center;
        cursor: pointer;
        padding: 8px;
        margin-top: 26px
    }

    .downloadIcon {
        margin-right: 6px;
    }

    .playStore {
        margin-left: 12px;
        margin-right: 8px;
    }

    .apple {
        margin-left: 8px;
    }

    .iconSpan {
        position: relative;
        top: 3px;
    }

    .padding24 {
        // padding-left: 24px;
    }

    .width_padding {
        // width: 81%;
        padding: 0px 60px 20px 60px;
        // border-bottom: 1px solid #F5F5F5;
        margin-top: 16px;
    }

    .qrCode {
        color: #999999;
        font-size: 10px;
        font-weight: 400;
        text-align: center;
        padding-bottom: 16px;
        border-bottom: 1px solid #DDDDDD;
    }

    .centerAlign {
        align-items: center;
    }

    .marginT30 {
        margin-top: 30px;
        text-align: center;
    }
}

.dghPage {

    .dghInstructionWithHeaderMob {
        width: 100%;
        padding-top: 25%;
    }

    .dghInstructionWithHeader {
        position: absolute;
        left: 50%;
        top: 57%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .icon_Description {
        background: rgba(255, 187, 0, 0.12);
        border-radius: 16px;
        padding: 16px;
        display: flex;
        // width: 81%;
        text-align: center;
        margin: 0px 55px 16px 55px;
    }

    .DGH {
        color: black;
        font-size: 24px;
        font-weight: 800;
        text-transform: capitalize;
        word-wrap: break-word;
        margin-bottom: 24px;
        text-align: center;
    }

    .nextStep {
        color: #444444;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
    }

    .medicalCheckUp {
        color: #444444;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        // margin-left: 12px;
        text-align: center;
    }

    .Steps {
        color: #444444;
        font-size: 16px;
        font-weight: 800;
        word-wrap: break-word;
        text-align: left;
    }

    .stepText {
        background-color: #FAFAFA;
        padding: 8px;
        color: #444444;
        font-size: 12px;
        font-weight: 600;
        margin-top: 16px;
        border-radius: 16px;
        display: flex;
    }

    .number {
        padding: 8px;
        color: #444444;
        font-size: 12px;
        font-weight: 700;
        margin-right: 4px;
    }

    .marginT16 {
        margin-top: 16px;
    }

    .button {
        border-radius: 10px;
        height: 48px;
        background-color: #fb0;
        border: none;
        font-size: 12px;
        font-weight: 800;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: center;
        cursor: pointer;
        padding: 8px;
        margin-top: 26px
    }

    .downloadIcon {
        margin-right: 6px;
    }

    .playStore {
        margin-left: 12px;
        margin-right: 8px;
    }

    .apple {
        margin-left: 8px;
    }

    .iconSpan {
        position: relative;
        top: 3px;
    }

    .padding24 {
        // padding-left: 24px;
    }

    .width_padding {
        // width: 81%;
        padding: 0px 60px 20px 60px;
        // border-bottom: 1px solid #F5F5F5;
        margin-top: 16px;
    }

    .qrCode {
        color: #999999;
        font-size: 10px;
        font-weight: 400;
        text-align: center;
        padding-bottom: 16px;
        border-bottom: 1px solid #DDDDDD;
    }

    .centerAlign {
        align-items: center;
    }

    .marginT30 {
        margin-top: 30px;
        text-align: center;
    }
}

// @media screen and (max-width: 767px) {
//     .dghInstruction {
//         width :90%
//     }
// }

// @media only screen and (max-width: 566px) {
//     .dghInstruction {
//         width: 580px !important;
//         top: 38rem;
//     }
// }

// @media only screen and (max-width: 510px) {
//     .dghInstruction {
//         width: 472px !important;
//         top: 38rem;
//     }
// }

// ==============================below new ==================================

@media screen and (max-width: 376px) {
    .dghInstruction {
        padding-top: 16rem !important;
        margin-top: 0rem !important;

    }
}

// @media screen and (max-width: 376px) {
//     .icon_Description{
//         margin: 16px 30px 32px 30px;
//     }
// }

// ==============================above new ==================================

// @media only screen and (max-width: 466px) {
//     .dghInstruction {
//         width: 472px !important;
//         top: 38rem;
//     }
// }

// @media only screen and (max-width: 400px) {
//     .dghInstruction {
//         width: 200px !important;
//         top: 38rem;
//     }
// }

// @media only screen and (max-width: 510px) {
//     .dghInstruction {
//         width: 472px !important;
//         top: 38rem;
//         margin-left: -4px;
//     }
// }


// ==============================below new ==================================

// @media only screen and (max-width: 1997px) {
//     .dghInstruction {
//         top: 38rem;
//         width :70%
//     }
// }

// @media only screen and (max-width: 1500px) {
//     .dghInstruction {
//         top: 32rem;
//         width :70%
//     }
// }


// @media only screen and (max-width: 837px) {
//     .dghInstruction {
//         top: 38rem;
//         width :70%
//     }
// }

// @media only screen and (max-width: 866px) {
//     .dghInstruction {
//         top: 38rem;
//         width :80%
//     }
// }

// ==============================above new ==================================
@media only screen and (max-width: 576px) {
    .qrCode {
        margin-top: 15px !important;
    }

    .dghInstruction {
        width: 100% !important;
        margin-top: 8rem;
    }

    .width_padding {
        padding: 16px 30px 32px 30px !important;
    }
}

.header {
    position: sticky;
    z-index: 1;
}

.textBottom {
    color: #999999;
    font-size: 11px;
    font-weight: 800;
    margin-top: 16px;
    text-align: center;
}

.website {
    color: #FB0;
    font-size: 12px;
    font-weight: 700;
}

.continue {
    color: #000000;
    font-size: 14px;
    font-weight: bold !important;
    // padding-top: 14px;
    cursor: pointer;
    background-color: #FB0;
    border: none !important;
    border-radius: 12px;
    padding: 16px;
    margin-top: 5px;
}

// .website:hover {
//     color: blue;
//     -ms-transform: scale(1.5);
//     -webkit-transform: scale(1.5);
//     transform: scale(1.5);
// }

// .continue:hover {
//     -ms-transform: scale(1.5);
//     -webkit-transform: scale(1.5);
//     transform: scale(1.5);
// }

.header {
    position: sticky;
    z-index: 1;
}

.maindivformobile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    // width: 40%;
    margin-top: 30px;
    padding: 0 18px;
    border-radius: 5px;
    font-size: 13px;
    width: 100%;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 1rem;
}

.backntn {
    padding: 10rem;
}

.reviseSItext {
    font-size: 14px;
    font-weight: 700;
    color: #444444;
    // margin-top: 16px;
    text-align: center;

    span {
        cursor: pointer;
        color: #FB0;
    }
}